.grid-container {
    display: grid;
    grid-template-columns: 1fr 1.5fr 0.1fr 1.5fr;
    grid-template-rows: 7% 0.7fr 1.3fr;
    grid-template-areas: "navBar navBar navBar navBar" "photoArea photoArea . profileInfo" "photoArea photoArea . commentSec";
  }
  
  .navBar { grid-area: navBar; }
  
  .photoArea { grid-area: photoArea; }
  
  .profileInfo { grid-area: profileInfo; }
  
  .commentSec { grid-area: commentSec; }