@import url(https://fonts.googleapis.com/css?family=Mr+Dafoe);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:900);
@import url(https://fonts.googleapis.com/css?family=Righteous);
@import url(https://fonts.googleapis.com/css?family=Candal);
@import url(https://fonts.googleapis.com/css?family=Permanent+Marker);
@import url(https://fonts.googleapis.com/css?family=Monoton);

body {
  width: 100%;
  height: 100%;
  background: rgba(73, 198, 229, 1);
  margin: 0px;
}

.TRIPP {
  position: relative;
  background-image: -webkit-linear-gradient(#378DBC 0%, #B6E8F1 46%, #ffffff 50%, #32120E 54%, #FFC488 58%, #582C11 90%, #EC9B4E 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 4px #f5f5f5;
  font-size: 160px;
  font-family: 'Titillium Web', sans-serif;
  font-style: italic;
  margin: 0;
  line-height: 1;
  text-align: center;
}

.TRIPP:before {
  content: 'CHROME';
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  -webkit-background-clip: text;
  -webkit-text-stroke: 0;
  padding-right: 300px;
  -webkit-animation-name: chrome_effect;
  -webkit-animation-duration: 6s;
  -webkit-animation-delay: 2s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}

.IN {
  position: absolute;
  margin: 0px;
  font-family: 'Mr Dafoe', cursive;
  font-size: 148px;
  color: #0af176;
  -webkit-transform: rotate(-15deg);
  margin-left: 850px;
  margin-top: -150px;
  -webkit-text-stroke: 1px #0af176;
  z-index: 20;
}

.windows .IN {
  -webkit-text-stroke: 4px #1cd416;
}

.subTittleLogo {
  text-decoration: solid;
  text-align: center;
  font-style: oblique;
  font-size: 47px;
  color: blanchedalmond;
  margin: 10px;
}

.logo_div {
  margin-top: 12%;
  margin-left: 50px;
}

#login {
  display: flex;
  justify-content: center;
  margin: 10px;
}

#userLoginInput {
margin: 10px;
width: 200px;
height: 33px;
}

#logInPasswordInput {
  margin: 10px;
  width: 200px;
  height: 33px;
}


#logInBtn {
  margin: 10px;
  width: 200px;
  height: 33px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: bold;
  background-color: darkgray;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.582), 0 17px 50px 0 rgba(30, 235, 11, 0.657);
}
h4 {
  text-align: center;
}

#signUpLink {
  text-align: center;
} 

#food_div, #people_div, #view_div, #architecture_div, #shopping_div, #memories_div,#connection_div, #culture_div{ 
  background-color: white;
  display: flex;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute; 
  left: 57px;  
  border-radius: 50%;
  font-size: 18px;
  font-weight: bolder;
  color: navy;
  align-items: center;
  justify-content: center;
 }

 #food_div{
  top: 20%;
  left: 10%; 
 }

#people_div{
  top: 5%;
  left: 46%; 
} 

#view_div{
  top: 20%;
  left:80%;
} 

#architecture_div{
  top: 50%;
  left: 85%;
}

#shopping_div{
  top: 80%;
  left:80%;
}

#memories_div{
  top: 85%; 
  left: 46%; 
}

#connection_div{
  top: 80%;
  left: 10%;
}

#culture_div{
  top: 50%;
  left: 4%;
} 
img {
  object-fit: cover;
}

* {
  box-sizing: border-box;
}



/* On screens that are 1150px wide or less, the background color is skyblue */
@media screen and (max-width: 1150px) {
  body {
    background-color: skyblue;
    color: white;
  }

  .IN {
  margin-left: 716px;
  margin-top: -133px;
}
}
/* On screens that are 1366px wide or less, the background color is skyblue */
@media screen and (max-width: 1366px) {
  body {
    background-color: skyblue;
    color: white;
  }
  .TRIPP {
    margin-top: 21%;
    margin-right: 5%;
  }

  .IN {
    margin-left: 61%;
    font-size: 153px;
  }

  .subTittleLogo {
    margin: 40px;
  }

  #loginForm {
    margin: 26px;
  }

  #userLoginInput, #logInPasswordInput, #logInBtn {
    width: 313px;
    height: 60px;
    font-size: 27px;
    margin-top: 72px;
  }
  
  h4{
    font-size: 26px;
  }

  #signUpLink {
    font-size: 31px;
  }


}

/* On screens that are 830px wide or less, the background color is blue */
@media screen and (max-width: 830px) {
  body {
    background-color: hsl(207, 63%, 62%);
    color: white;
  }
  .TRIPP {
    font-size: 134px;
    margin-top: 176px
  }

  .IN {
    font-size: 102px;
    margin-left: 490px;
    margin-top: -90px;
}
}
/* On screens that are 750px wide or less, the background color is beige */
@media screen and (max-width: 750px) {
  body {
    background-color: rgb(228, 223, 216);
    color: white;
  }
  #food_div, #people_div, #view_div, #architecture_div, #shopping_div, #memories_div,#connection_div, #culture_div {
    display: none;
  }

  .logo_div {
    margin-top: 29%;
    margin-left: 105px;
  }

  .IN {
    margin-left: 377px;
  }
  .subTittleLogo {
    color: brown;
    text-align: center;
    margin-left: 23%;
  }
  .loginForm {
    margin-left: 10%;
  }
  h4 {
    color: darkblue;
  }
}

