html, body { height: 100%; margin: 0; }

main {
    margin: 0%;
    height: 100%;
}

#top {
    
    display: flex;
    flex-direction: row;
    /* height: 20%; */
    justify-content: space-evenly;
    background-color: lightcoral;

    
  }
  img{
      height: 160px;
  }

nav {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(6,25,34);
    font-size: 24px;
    padding: 10px;
    width: 100%;
    
}
.leftBorder {
    border-left: 1px solid #FDB927;
    padding-left: 15px;
}
a {
    color: #FDB927;
    text-decoration: none;
    margin-left: 15px;
    font-family: 'Exo 2', sans-serif;
}
a:hover {
    font-size: 26px;
}

#container2 {
    display: flex;
}

#gamesToday {
    flex: 1;
    background-color: lightseagreen;
    /* position: absolute;
    left: 0px;
    justify-content: space-around;
    height: 100%;
    width: 33%; */
}

#bets {
    flex: 2;
    background-color: magenta;
    /* margin: auto;
    position: relative;
    width: 33%;
    height: 100%; */
   
}

#upcoming {
    flex: 1;
    background-color: mediumturquoise;
    /* position: absolute;
    right: 0px;
    height: 100%;
    width: 33%;
    margin: auto; */
}