html, body, .grid-container { height: 100%; margin: 0; }

.posts { 
 border-left: 1px solid black;
 border-right: 1px solid black;
 position: relative;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.4fr 1.5fr;
    grid-template-areas: "header header" "container container";
  }
  
  .container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "leftSide posts rightSide";
    grid-area: container;
  }
  
  .posts { grid-area: posts; }
  
  .rightSide { grid-area: rightSide; }
  
  .leftSide { grid-area: leftSide; }
  
  .header {
    display: grid;
    grid-template-columns: 0.6fr 1.8fr 0.6fr;
    grid-template-rows: 1fr;
    grid-template-areas: "logoNav projectName searchBar";
    grid-area: header;
  }
  
  .projectName { grid-area: projectName; }
  
  .searchBar { grid-area: searchBar; }
  
  .logoNav { grid-area: logoNav; }
  
  img {
      width: 70%;
      height: 80%;
      /* background-color: rgb(0, 0, 0); */
  }
  
  .header { 
      
      background-image: linear-gradient(#592185, #FAC346);
      color: rgb(85,37,130);
      text-align: center;
      border-bottom: 1px solid black;
      /* width: 100%; */
  } 
  .container {
      background-color: lightgray;
      grid-auto-rows: minmax(100%, auto);
  }
  .posts {
      background-color: white;
      grid-template-rows: 20% 80%;
  
  }
  .leftSide {
    display: grid;
    grid-template-rows: 50% 50%; 
    grid-gap: 20px;
    color: white;
    text-align: center;
    /* height: 60%; */
    /* align-content: center; */
    /* width: 80%; */
    justify-items: center;
} 
.rightSide {
    display: grid;
    grid-template-rows: 50% 50%; 
    grid-gap: 20px;
    color: white;
    text-align: center;
    justify-items: center;
}
.gamesToday {
    width: 90%;
    height: 90%;
    margin-top: auto;
    margin-right: 5%;
    background-color: rgb(85,37,130, 0.9);
    /* border-radius: 5%; */
    box-shadow: 5px 5px white;

}
.bets {
    width: 90%;
    height: 90%;
    margin-top: auto;
    margin-right: 5%;
    background-color: rgb(85,37,130, 0.9);
    /* border-radius: 5%; */
    box-shadow: 5px 5px white;
}
.followers {
    width: 50%;
    height: 50%;
    margin-top: 10%;
    margin-right: 5%;
    background-color: rgb(85,37,130, 0.9);
    box-shadow: 5px 5px white;
}
.following {
    width: 50%;
    height: 50%;
    /* margin-top: 10%; */
    margin-right: 5%;
    background-color: rgb(85,37,130, 0.9);
    box-shadow: 5px 5px white;
}
.makePost {
    position: absolute;
    top: 0%;
    height: 20%;
    width: 100%;
    color: white;
    background-color: lightgray;
    border-bottom: 1px solid black;

}