body { margin: 0; }

#logoSection {
    display: flex;
    flex-direction: row;
    background-image: linear-gradient(#592185, #FAC346);
    color: rgb(85,37,130);
    text-align: center;
    align-items: center;
    border-bottom: 1px solid black;
    justify-content: space-between;
}

#logo {
    width: 40%;
}

#headerName {
    width: 22%;
    margin-right: 39%;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(6,25,34);
    font-size: 24px;
    padding: 10px;
}

.leftBorder {
    border-left: 1px solid #FDB927;
    padding-left: 15px;
}

.nav {
    color: #FDB927;
    text-decoration: none;
    margin-left: 15px;
    font-family: 'Exo 2', sans-serif;
}

.nav:hover {
    font-size: 26px;
}

input[type="text"], input[type="search"] {
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    padding: 10px 20px;
    border: 1px solid #FDB927;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    color: rgba(253,185,39,1);
    -o-text-overflow: clip;
    text-overflow: clip;
    letter-spacing: 1px;
    word-spacing: 29px;
    background: rgba(6,25,31,1);
  }

.posts { 
 border-left: 1px solid black;
 border-right: 1px solid black;
 position: relative;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.4fr 1.5fr;
  grid-template-areas: "header header" "container container";
}

.container {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "leftSide posts rightSide";
  grid-area: container;
}

.posts { grid-area: posts; }

.rightSide { grid-area: rightSide; }

.leftSide { grid-area: leftSide; }

.container {
    background-color: lightgray;
    grid-auto-rows: minmax(100%, auto);
}
.posts {
    display: grid;
    background-color: rgb(223, 238, 253);
    grid-template-rows: 20% 80% auto;
}

.leftSide {
    display: grid;
    grid-template-rows: 50% 50%; 
    grid-gap: 20px;
    color: white;
    text-align: center;
    /* height: 60%; */
    /* align-content: center; */
    /* width: 80%; */
    justify-items: center;
} 
.rightSide {
    display: grid;
    grid-template-rows: 50% 50%; 
    grid-gap: 20px;
    color: white;
    text-align: center;
    justify-items: center;
}
.gamesToday {
    width: 90%;
    height: 90%;
    margin-top: auto;
    margin-right: 5%;
    background-color: rgb(85,37,130, 0.9);
    /* border-radius: 5%; */
    box-shadow: 5px 5px white;
    
}
.bets {
    width: 90%;
    height: 90%;
    margin-top: auto;
    margin-right: 5%;
    background-color: rgb(85,37,130, 0.9);
    /* border-radius: 5%; */
    box-shadow: 5px 5px white;
}
.followers {
    width: 50%;
    height: 50%;
    margin-top: 10%;
    margin-right: 5%;
    background-color: rgb(85,37,130, 0.9);
    box-shadow: 5px 5px white;
}
.following {
    width: 50%;
    height: 50%;
    /* margin-top: 10%; */
    margin-right: 5%;
    background-color: rgb(85,37,130, 0.9);
    box-shadow: 5px 5px white;
}
.makePost {
    position: absolute;
    top: 0%;
    height: 20%;
    width: 100%;
    color: white;
    background-color: lightgray;
    border-bottom: 1px solid black;
    
}

.newsFeed {
    /* grid-template-rows: 500px auto; */
    margin-top: 20%;
    color: black;
}