* {
    font-family: 'Times New Roman', Times, serif;
}
body{
    background-color: white;
    margin: auto;
    padding: 0;
}
.header {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    background-color: #272727;
    position: relative;
    width: 100vw;
    height: 5vh;  
    border: solid black; 
    border-width: 1.5px;
}

a:link {
    color: white;
    text-decoration: none;

}

a:visited {
    color: white;
}


.mainHeader {
    padding-left: 80vw;
    padding-right: 2vw;
    margin-top: 1vh;
}

.albums {
    margin-top: 1vh;
    padding-right: 2vw;
}

.photos {
    margin-top: 1vh;
}

.feedHeader{
    padding-right: 2vw;
    margin-top: 1vh;
}
.photoHeader {
    margin-top: 1vh;
}

.owner_info_box{
    display: flex;
    position: absolute;
    background-color: #030303;
    /* border: solid white; */
    width: 20vw;
    height: 100vh;
    margin: auto;
}

.profPic {
    margin-top: 2.5vh;
    height: 150px;
    width: 150px;
    background-color: white;
    border-radius: 0%;
    display: flex;
    position: relative;
    margin-left: 20%;
    border: solid black;
}

.feedContent{
    display: block;
    position: relative;
    float: right;
    background-color: white;
    /* border: solid white; */
    width: 80vw;
    height: 100vh;
}
.contentHeader {
    display: flex;
    position: absolute;
    background-color: white;
    width: 60vw;
    height: 10vh;
    margin-left: 15vh;
    text-align: center;
    justify-content: center;
}

.content {
    display: block;
    position: sticky;
    background-color: white;
    width: 80vw;
    height: 90vh;
    margin-left: 20vw;
    margin-top: 10vh;
}

.contentButton {
    position: absolute;
    top: 65%;
}

#createButton {
    display: flex;
    position: relative;
    float: right;
    height: 20px;
    float: right;
}

#logOffBtn {
    position: absolute;
    bottom: 0;
    height: 30px;
    width: 300px;
    background-color: black;
    border: none;
    color: white;
}