body{
  background:#0C748B;
}

h4, p{
  display: flex;
  justify-content: center;
  align-items: center;
}

h4{
  margin-top: 2%;
  font-size: 25px;
}

#activeUserImg{
  display: flex;
  justify-content: center;
}

#SearchUser {
  display: flex;
  justify-content: center;
}

#SearchUserBtn {
  background-color: grey;
  width: 15%;
  height: 20px;
}

div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

#albumText {
background-color: lawngreen;
width: 100%;
}


div.desc {
  display: flex;
  justify-content: center;
  padding: 15px;
  text-align: center;
}




* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

.gallery {
  display: flex;
  justify-content: center;
  width: 200px;
  height: 200px;
  object-fit: cover;
} 

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}