body {
    background-color: whitesmoke;
    background-image: url("https://d3t3ozftmdmh3i.cloudfront.net/production/podcast_uploaded/1634070/1634070-1554615367136-a84b1802b3ec3.jpg");
    background-size: 1450px 550px;
    /* background-repeat: repeat-y; */
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#logInForm {
    color: black;
    font-variant: small-caps;
    font-size: 20px;
}

#logInBtn {
    color: white;
    background-color: rgb(27, 167, 160);
    border-radius: 4px;
    /* width: 120px; */
    /* line-height: 20px; */
    padding: 5px 34px;
    font-size: 20px;
}

#logInBtn:hover {
    background-color: orange; /* Green */
    color: white;
  }

/* #signUpLinkDiv {
    color: black;
}

#signUpLinkDiv:hover {
    color: black;
} */

#logInDiv {
    display: flex;
    justify-content: space-evenly;
    grid-column: 3 / 1;
    padding-top: 600px;
}