body{
    margin: 0px;
    background-repeat: no-repeat;
    background-position: 50%;
    background-image: linear-gradient(#592185, #FAC346);  
}

input[type="text"], input[type="password"], input[type="date"] {
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    padding: 10px 20px;
    border: 1px solid #FDB927;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    color: rgba(253,185,39,1);
    -o-text-overflow: clip;
    text-overflow: clip;
    letter-spacing: 1px;
    word-spacing: 29px;
    background: rgba(6,25,31,1);
    width: 175%;
}

button {
    margin-top: 10px;
    display: flex;
    justify-content: center;
	box-shadow: 0px 1px 0px 0px #fff6af;
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	background-color:#ffec64;
	border-radius:6px;
	border:5px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
    font-family: 'Russo One', sans-serif;
	font-size:17px;
	font-weight:bold;
	font-style:italic;
	padding:5px 24px;
	text-decoration:none;
    text-shadow:0px 0px 0px #ffee66;
    min-width: 80%;
}

button:focus {
    outline: none;
}

button:hover {
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	background-color:#ffab23;
}
button:active {
	position:relative;
	top:1px;
}

input:focus {
    outline: none;
}

select {
    font-family: 'Poppins', sans-serif;
    display: inline-block;
    min-width: 80%;
    width: 175%;
    cursor: pointer;
    padding: 10px 15px;
    outline: 0;
    border: 1px solid #FDB927;
    border-radius: 0px;
    background: #06191f;
    color: #FDB927;
    appearance: none;
    border-radius: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
}

select::-ms-expand {
    display: none;
}

select:hover, select:focus {
    border-color: #06191f;
    color: #06191f;
    background: #FDB927;
}

select:disabled {
    opacity: 0.5;
    pointer-events: none;
}

label {
    font-family: 'Poppins', sans-serif;
}

main{ 
    height: 100vh;
    display: flex;
    justify-content: space-evenly; 
    align-items: center;
}

h1 {
    font-family: 'Exo 2', sans-serif;
    width: max-content;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#forms {
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: 30%; 
    margin: auto;
    margin-left: 30%;
    justify-content: center;
}

#logoSection {
    display: flex;
    margin: auto;
    width: 5%;  
}

#buttons {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    height: 50%;
    align-items: center; 
}

#login {
    align-items: center;
    width: 40%;
}

#signUp {
    align-items: center;
    width: 40%;
}

#goToLogin {
    width: 100%;
}

@media only screen and (max-width: 1100px) {
    main {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}