@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');
img {
    width: 20%;
    margin-left: 40%;
    margin-right: 39%;
    background-color: black;
}
h3 {
    margin: auto;
    padding: 10px;
    color: #F7402C;
    width: 14%;
    border-style: solid;
    border-color: #F7402C;
    font-family: 'Josefin Sans', sans-serif;
}

#signUpForm {
    margin: auto;
    width: 50%;
    height: 50%;
    padding: 10px;
    /* background-color: black; */
}

form {
    font-family: 'Josefin Sans', sans-serif;
}

#inputInfo {
    float: left;
}

#preferencesDiv1 {
    float: right;
}

button {
    transition: 0.3s;
    margin-left: 44%;
    margin-right: 39%;
    bottom: 10px;
    font-family: 'Josefin Sans', sans-serif;
    height: 35px;
    width: 100px;
}

input {
    color: #F7402C
}

button:hover {
    background-color: #F7402C;
    opacity: 0.6;
    color: white;
}

